:root {
    --main-bg-color: #252534;
    --second-bg-color: #333445;
    --accent-color: #ffae28;
    --box-gradient: linear-gradient(135deg,  #5b5c71, #888a9f, #5b5c71);
    --main-font: white;
}



body {
    background-color: #252534;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#search-bar > input {
height: 30px;
border-radius: 5px;
min-width: 300px;
border-radius: 10px;

}

#search-bar > button {
    margin: 0 20px;
   width: 35px;
   height: 35px;
   background-color: #ffff;
   border-radius: 50%;
}
nav {
    position: sticky;
    top: 0;
    background-color: rgba(37, 37, 52, 0.9); /* Ubah ke tingkat kejelasan yang diinginkan */
    backdrop-filter: blur(10px); /* Efek blur pada latar belakang untuk elemen yang lebih jelas */
    display: flex;
    justify-content: right;
    align-items: center;
    transition: background-color 0.8s, color 0.8s;
    z-index: 100;
    gap: 20px;
}
nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

nav ul li a {
    font-size: 24px;
    color: var(--main-font);
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--accent-color);
}

.hero-item > img{
    width: 100%;
    height: 450px;  
    object-fit: cover;
    z-index: -1 ;

}

.watch-button {
    color: white;
    height: 35px;
    width: 100px;
    background-color: #ff1100;
    border-radius: 20px;
    list-style: none;
    border-style: none;
}

.add-button {
    color: white;
    height: 35px;
    width: 100px;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    list-style: none;
    border-style: none;
}

.caption-wrapper {

    position: absolute;
    margin-top: -320px ;
    margin-left: 40px;
    padding-left: 40px;
    padding-bottom: 80px;
    width: 400px;
}

.genre {
    margin-bottom: -20px;
}
.card-container {

    display: grid;
    grid-template-columns: repeat(5 , 1fr); 
    padding: 20px 10%;
    justify-content: center;
position: relative;

 
}

.description {
    height: 70px;
}

.title-card > h2 {
    width: 180px;
    overflow-x: hidden;
    font-size: 18px;
}

.card {
    position: relative;
    padding: 10px;
    border-radius: 5px;
}
 .card, .card > img {
    width: 180px; 
    justify-content: center;


}

.card > h2 {
    font-size: 20px;
}

.card:hover {
    background-color: var(--second-bg-color);
}
.horizontal-scroll {
    display: flex;
    overflow-x: auto; /* Mengaktifkan pengguliran horizontal */
     /* Mencegah pemisahan baris pada elemen-elemen di dalamnya */
    padding: 40px 40px; /* Untuk memberikan ruang agar tombol "Previous" dan "Next" terlihat */
    gap: 20px;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    align-items: start;
    justify-content: center;
    margin: 20px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.horizontal-scroll::-webkit-scrollbar {
    display: none;
  }
.title-card {
    padding: 0 10px;
   margin-top: -10px;
   margin-bottom: -25px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 10px;
}



.overview {
    border-radius: 5px;
    margin: 15px;
    text-align: justify;
    height: 240px;
    width: 160px;
    overflow: hidden;
    font-size: 12px;
    position: absolute; /* Ubah posisi menjadi absolut */
    top: 0; /* Mengatur elemen .overview tepat di atas kartu */
    left: 0;
    padding: 5px;
    backdrop-filter: blur(1px); /* Efek blur pada latar belakang elemen */
    background: rgba(51, 52, 69, 0.5);
    display: none; /* Sembunyikan elemen .overview secara default */
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover .overview {
    display: block; /* Tampilkan elemen .overview saat kartu di-hover */
    opacity: 1;
}


.release-date {
font-size: 14px;
}

.rating {
    font-size: 14px;
}









